{{ define "main" }}
<nav class="sitemap" aria-label="Main Navigation">
    <section class="section">
        <h2><a href="/blog">/blog</a></h2>
        <p class="desc">writing about things i am doing.</p>
    </section>

    <section class="section">
        <h2><a href="/projects">/projects</a></h2>
        <p class="desc">projects i am working on. (majority on github)</p>
    </section>

    <section class="section">
        <h2><a href="/notes">/notes</a></h2>
        <p class="desc">notes on about the things i am learning (unorganized).</p>
    </section>

    <section class="section">
        <h2><a href="https://unsplash.com/@debarkak" target="_blank" rel="noopener">/photos</a></h2>
        <p class="desc">photos i have taken. uploaded on unsplash. (new)</p>
    </section>

    <section class="section">
        <h2><a href="/uses">/uses</a></h2>
        <p class="desc">all hardware and software that i use.</p>
    </section>

    <section class="section">
        <h2><a href="/about">/about</a></h2>
        <p class="desc">about me.</p>
        <div class="link-list">
            <div class="link-item">
            </div>
        </div>
    </section>
</nav>
{{ end }}